/bootstrap/compiled.php
.env.*.php
.env.php
etc
packages
assets/*
!assets/css
!assets/js
!assets/img
site/*
!site/app
site/app/commands
site/app/config
site/app/database
site/app/dompdf
site/app/lang
site/app/start
site/app/storage
site/app/tests


